/*--------------------------------- GENERAL -----------------------------------*/

@font-face {
  font-family: "Roboto";
  src: 
      local("Roboto"),
      url(../fonts/Roboto-Black.ttf) format("truetype");
      font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  src: 
      local("Roboto"),
      url(../fonts/Roboto-Bold.ttf) format("truetype");
      font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: 
      local("Roboto"),
      url(../fonts/Roboto-Medium.ttf) format("truetype");
      font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: 
      local("Roboto"),
      url(../fonts/Roboto-Regular.ttf) format("truetype");
      font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: 
      local("Roboto"),
      url(../fonts/Roboto-Light.ttf) format("truetype");
      font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: 
      local("Roboto"),
      url(../fonts/Roboto-Thin.ttf) format("truetype");
      font-weight: 100;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  background-color: #16A6AF;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  text-transform: uppercase;
  color:#fff;
  height: 40px;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  transition: .5s;
}

.button:hover {
  background-color: #fff;
  color: #16A6AF;
  cursor: pointer;
}

/*--------------------------------- INDEX PAGE -----------------------------------*/

.container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
}

.client-container {
  background-image: url(../images/background_guest.jpeg);
}

.header {
  max-width: 990px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  text-transform: uppercase;
}

.header__logo_link {
  color: #fff;
  font-weight: 900;
  font-size: 34px;
}

.header__logo_accent {
  font-weight: 100;
}

.page-nav {
  max-width: 990px;
  margin: 0 auto;
}

.page-nav__days {
  display: flex;
  align-items: center;
}

.page-nav__day {
  width: calc(100% / 7);
  height: 48px;
  background-color: #fff;
  opacity: 0.9;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  padding: 10px 20px;
  border-radius: 2px;
  transition: .5s;
}

.page-nav__day:hover {
  opacity: 1;
  cursor: pointer;
}

.nav__day_weekend {
  color: #ff0000;
}

.nav__day-chosen {
  width: 241px;
  height: 52px;
  padding: 11px 22px;
  opacity: 1;
  font-weight: 700;
}

.nav__arrow {
  font-size: 24px;
  text-align: center;
}

.main {
  max-width: 990px;
  margin: 0 auto;
  padding: 40px 0;
}

.movie {
  width: 100%;
  background-color: rgba(241, 235, 230, 0.95);
  border-radius: 2px;
  padding: 15px;
  color: #000;
}

.movie:not(:first-of-type) {
  margin-top: 30px;
}

.movie__info {
  display: flex;
  gap: 15px;
}

.movie__poster {
  width: 125px;
  height: 175px;
  position: relative;
}

.movie__poster::after {
  content: '';
  width: 6px;
  height: 14px;
  background-color: #393939;
  position: absolute;
  top: 0;
  right: -7px;
}

.movie__poster_image {
  max-width: 125px;
  height: 100%;
  object-fit: cover;
}

.movie__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.movie__synopsis {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.movie__data {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

.movie-seances {
  display: flex;
  flex-direction: column;
}

.movie-seances__hall {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.movie-seances__list {
  display: flex;
  gap: 5px;
  margin: 7px 0 25px;
}

.movie-seances__list:last-of-type {
  margin-bottom: 5px;
}

.movie-seances__time {
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  border-radius: 2px;
  width: 53px;
  height: 33px;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movie-seances__time_disabled {
  background-color: #e2e2e2;
  color: #989898;
  cursor: default;
}

/*--------------------------------- HALL VIEW PAGE -----------------------------------*/

.buying {
  padding: 0;
  width: 100%;
  background-color: rgba(241, 235, 230, 0.95);
  border-radius: 2px;
  text-align: center;
}

.buying__info {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.buying__info_movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 7px;
}

.buying__info_title {
  font-size: 16px;
  font-weight: 700;
}

.buying__info_start {
  font-size: 14px;
  font-weight: 300;
}

.buying__info_hall {
  font-size: 16px;
  font-weight: 700;
}

.buying__info_hint {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.buying__info_pic {
  width: 24px;
}

.buying__info_hint-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  width: 67px;
}

.buying__button {
  padding: 12px 56px;
  margin: 30px auto;
}

.buying__scheme {
  background-color: #171D24;
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}

/*--------------------------------- PAYMENT PAGE -----------------------------------*/

.payment__header {
  color: #C76F00;
  text-transform: uppercase;
  padding: 25px 15px;
  text-align: left;
}

.payment__header-text {
  font-size: 22px;
  font-weight: 700;
}

/*--------------------------------- ONLINE TICKET PAGE -----------------------------------*/

/*--------------------------------- ADMIN LOGIN -----------------------------------*/

.admin-container {
  background-image: url(../images/background_admin.jpeg);
  position: relative;
  z-index: 0;
}

.admin-container::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

.header__admin {
  max-width: 972px;
  height: 120px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 0 100px;
}

.header__sub {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
}

.admin__autorize {
  width: 480px;
  margin: 0 auto;
  background-color: rgba(234, 233, 235, 0.95);
}

.admin__autorize-header {
  background-color: #63536C;
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  padding: 16px 0;
  text-align: center;
}

.admin__login-form {
  width: 272px;
  margin: 0 auto;
  padding: 35px 0;
  text-align: center;
}

.form-title {
  display: block;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #848484;
}

.login-field {
  width: 100%;
  height: 36px;
  display: block;
  border-radius: 1px;
  border: 1px solid #B7B7B7;
  font-size: 16px;
  font-weight: 400;
  padding: 0 7px;
}

.login-field.email {
  margin-bottom: 5px;
}

.login-field.password {
  margin-bottom: 20px;
}

.button-autorize {
  padding: 12px 30px;
}

/*--------------------------------- ADMIN MAIN PAGE -----------------------------------*/

.admin__main {
  max-width: 962px;
  margin: 0 auto;
  background-color: rgba(234, 233, 235, 0.95);
}

.admin__section {
  position: relative;
}

.admin__section::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #BC95D6;
  position: absolute;
  left: 60px;
}

.admin__section:first-of-type::before {
  content: '';
  width: 2px;
  height: calc(100% - 30px);
  background-color: #BC95D6;
  position: absolute;
  left: 60px;
  top: 30px;
}

.admin__section:last-of-type::before {
  content: '';
  width: 2px;
  height: 30px;
  background-color: #BC95D6;
  position: absolute;
  left: 60px;
  top: 0;
}

.admin__header {
  width: 100%;
  height: 95px;
  background-color: #63536C;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 42px 0 104px;
}

.admin__header i {
  font-size: 22px;
  cursor: pointer;
}

.admin__header_arrow-hide {
  transform: rotate(180deg);
}

.admin__header_text {
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  position: relative;
}

.admin__header_text::before {
  content: '';
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  border: 4px solid #BC95D6;
  position: absolute;
  top: -10px;
  left: -65px;
}

.admin__wrapper {
  padding: 35px 35px 35px 104px;
}

.admin__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.halls__list {
  margin: 15px 0;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
}

.halls__list_item {
  display: flex;
  gap: 5px;
}

.halls__list_item::before {
  content: '—';
  margin-right: 5px;
}

.admin__button_remove {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  border: none;
  background-color: #fff;
  cursor: pointer;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin__button_remove::before {
  content: '\f1f8';
  font-family: "Font Awesome 6 Free";
  font-size: 12px;
}

.admin__button_remove:hover {
  opacity: 0.6;
}

.admin__button_hall {
  padding: 12px 30px;
}

.halls_choose {
  display: flex;
  margin: 10px 0 30px;
  align-items: center;
  flex-wrap: wrap;
}

.hall__item {
  padding: 13px 30px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  font-size: 14px;
  font-weight: 500;
}

.hall_item-selected {
  background-color: #fff;
  padding: 14px 32px;
  font-size: 15px;
  font-weight: 900;
}

.hall-config__size {
  display: flex;
  gap: 15px;
  align-items: center;
  margin: 10px 0 30px;
  color: #848484;
}

.admin_label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.hall-size {
  font-size: 18px;
  margin-top: 12px;
}

.admin_input {
  width: 100px;
  height: 36px;
  font-size: 16px;
  color: #757575;
  padding: 0 7px;
  background-color: #fff;
  border: 1px solid #B7B7B7;
}

.admin_input:focus {
  color: #000;
}

.hall-config__types {
  display: flex;
  margin: 10px 0;
  gap: 20px;
  font-size: 14px;
  color: #848484;
}

.hall-config__type_place {
  display: flex;
  align-items: center;
  gap: 5px;
}

.place_standart {
  display: inline-block;
  width: 26px;
  height: 26px;
  gap: 0px;
  border-radius: 4px;
  border: 1px solid #393939;
  background-color: #C4C4C4;
}

.place_vip {
  display: inline-block;
  width: 26px;
  height: 26px;
  gap: 0px;
  border-radius: 4px;
  border: 1px solid #0A828A;
  background-color: #B0D6D8;
  background-image: url(../images/vip-seat-bckg.png);
}

.place_block {
  display: inline-block;
  width: 26px;
  height: 26px;
  gap: 0px;
  border-radius: 4px;
  border: 1px solid #C4C4C4;
}

.hall-config__hint {
  font-size: 14px;
  color: #848484;
}

.hall-config__hall {
  margin: 10px 0 25px;
  border: 1px solid #000000;
  text-align: center;
  padding: 0 0 30px 0;
}

.hall-config__hall_screen {
  padding: 20px 0 15px 18px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 19px;
}

.hall-config__hall_wrapper {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.hall-config__hall_chair {
  margin-right: 10px;
}

.hall-config__hall_chair:last-of-type {
  margin-right: 0;
}

.hall-config__buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.admin__button_cancel {
  background-color: #fff;
  color: #63536C;
  padding: 12px 30px;
}

.admin__button_cancel:hover {
  color: #fff;
  background-color: #63536C;
}

.admin__button_save {
  padding: 12px 30px;
}

.button_disabled {
  background-color: #C4C4C4;
  color: #848484;
}

.button_disabled:hover {
  cursor: default;
  background-color: #C4C4C4;
  color: #848484;
}

.price-config__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px 0 20px;
  color: #848484;

}

.price-config__legend {
  display: flex;
  align-items: center;
  gap: 5px;
}

.price-config__legend_text {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 12px;
  font-size: 14px;
}

.price-config__buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.admin__button_movie {
  padding: 12px 30px;
}

.movie-seances__wrapper {
  margin-top: 36px;
  margin-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.movie-seances__movie {
  width: 260px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  display: flex;
  position: relative;
  align-items: center;
  cursor: move;
}

.movie-seances__movie_poster {
  width: 38px;
  height: 50px;
  object-fit: cover;
}

.movie-seances__movie_info {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 14px;
  line-height: 16px;
}

.movie_info-title {
  font-weight: 500;
}

.movie_info-length {
  font-weight: 400;
  margin-top: 4px;
  color: rgba(0, 0, 0, 0.7);
}

.movie-seances__movie_delete {
  position: absolute;
  right: 2px;
  bottom: 2px;
}

.background_1 {
  background-color: #CAFF85;
}

.background_2 {
  background-color: #85FF89;
}

.background_3 {
  background-color: #85FFD3;
}

.background_4 {
  background-color: #85E2FF;
}

.background_5 {
  background-color: #8599FF;
}

.movie-seances__timelines {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 86%;
  margin-left: 40px;
}

.movie-seances__timeline {
  position: relative;
}

.timeline__delete {
  position: absolute;
  left: -30px;
  top: 30px;
}

.timeline__delete_image {
  width: 30px;
}

.timeline__hall_title {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
}

.timeline__seances {
  border: 1px solid #848484;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  min-width: 328px;
  height: 60px;
  display: flex;
  position: relative;
}

.timeline__seances_movie {
  display: flex;
  flex-wrap: wrap;
  height: 40px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.30);
  position: absolute;
  cursor: move;
}

.timeline__seances_movie::before {
  content: "";
  width: 1px;
  height: 5px;
  background-color: #848484;
  position: absolute;
  left: -1px;
  bottom: -15px;
}

.timeline__seances_title {
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  word-wrap: break-word;
  height: 20px;
  overflow: hidden;
}

.timeline__movie_start {
  color: #848484;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  position: absolute;
  left: -15px;
  bottom: -30px;
}

.movie-seances__buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.open__wrapper {
  text-align: center;
}

.open__info {
  margin-bottom: 30px;
}

/*--------------------------------- POPUP WINDOWS -----------------------------------*/

.popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__container {
  width: 960px;
  background-color: rgba(234, 233, 235, 0.95);
}

.popup__header {
  background-color: #63536C;
  text-transform: uppercase;
  color: #fff;
  padding: 16px 42px;
  display: flex;
  justify-content: space-between;
}

.popup__header-text {
  font-size: 22px;
  font-weight: 700;
}

.popup__header i {
  font-size: 28px;
  cursor: pointer;
}

.add-hall_label {
  color: #848484;
}

.add-movie_label, .add-seance_label {
  color: #848484;
  margin-bottom: 10px;
}

.add-hall_input, .add-movie_name_input, .add-movie_time_input, .add-movie_synopsis_input, .add-movie_country_input {
  width: 100%;
}

.add-movie_synopsis_input {
  height: 80px;
  overflow-y: scroll;
}

.input_add_poster {
  visibility: hidden;
}

.popup__add-poster_button {
  max-width: 200px;
}

.select__add-seance {
  height: 36px;
  font-size: 16px;
  padding: 0 7px;
  background-color: #fff;
  border: 1px solid #B7B7B7;
  appearance: none;
  border-radius: 0;
  background-image: url(../images/chevron-down-solid.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.add-seans__input_time {
  width: 100%;
  color: #000;
  background-image: url(../images/clock-regular.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.popup__form {
  width: 750px;
  margin: 0 auto;
  padding: 35px 0;
}

.popup__buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.popup__button_cancel {
  background-color: #fff;
  color: #63536C;
}

.popup__button_cancel:hover {
  background-color: #63536C;
  color: #fff;
}

.popup__button_save, .popup__button_cancel {
  padding: 12px 30px;
}

.remove-seance_buttons {
  margin-top: 0;
  margin-bottom: 30px;
}

.hidden {
  display: none;
}