/*--------------------------------- GENERAL -----------------------------------*/

@font-face {
  font-family: "Roboto";
  src: 
      local("Roboto"),
      url(../fonts/Roboto-Black.ttf) format("truetype");
      font-weight: 900;
}

@font-face {
  font-family: "Roboto";
  src: 
      local("Roboto"),
      url(../fonts/Roboto-Bold.ttf) format("truetype");
      font-weight: 700;
}

@font-face {
  font-family: "Roboto";
  src: 
      local("Roboto"),
      url(../fonts/Roboto-Medium.ttf) format("truetype");
      font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: 
      local("Roboto"),
      url(../fonts/Roboto-Regular.ttf) format("truetype");
      font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: 
      local("Roboto"),
      url(../fonts/Roboto-Light.ttf) format("truetype");
      font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: 
      local("Roboto"),
      url(../fonts/Roboto-Thin.ttf) format("truetype");
      font-weight: 100;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

h1, h2, h3, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  background-color: #16A6AF;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  text-transform: uppercase;
  color:#fff;
  height: 40px;
  padding: 12px;
  font-size: 14px;
  font-weight: 500;
  transition: .5s;
}

.button:hover {
  background-color: #fff;
  color: #16A6AF;
  cursor: pointer;
}

/*--------------------------------- INDEX PAGE -----------------------------------*/

.container {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  background-attachment: fixed;
}

.client-container {
  background-image: url(../images/background_guest.jpeg);
}

.header {
  max-width: 990px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  text-transform: uppercase;
}

.header__logo_link {
  color: #fff;
  font-weight: 900;
  font-size: 34px;
}

.header__logo_accent {
  font-weight: 100;
}

.page-nav {
  max-width: 990px;
  margin: 0 auto;
}

.page-nav__days {
  display: flex;
  align-items: center;
}

.page-nav__day {
  width: calc(100% / 7);
  height: 48px;
  background-color: #fff;
  opacity: 0.9;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  padding: 10px 20px;
  border-radius: 2px;
  transition: .5s;
}

.page-nav__day:hover {
  opacity: 1;
  cursor: pointer;
}

.nav__day_weekend {
  color: #ff0000;
}

.nav__day-chosen {
  width: 241px;
  height: 52px;
  padding: 11px 22px;
  opacity: 1;
  font-weight: 700;
}

.nav__arrow {
  font-size: 24px;
  text-align: center;
}

.main {
  max-width: 990px;
  margin: 0 auto;
  padding: 40px 0;
}

.movie {
  width: 100%;
  background-color: rgba(241, 235, 230, 0.95);
  border-radius: 2px;
  padding: 15px;
  color: #000;
}

.movie:not(:first-of-type) {
  margin-top: 30px;
}

.movie__info {
  display: flex;
  gap: 15px;
}

.movie__poster {
  width: 125px;
  height: 175px;
  position: relative;
}

.movie__poster::after {
  content: '';
  width: 6px;
  height: 14px;
  background-color: #393939;
  position: absolute;
  margin-left: 1px;
}

.movie__poster_img {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie__description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.movie__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.movie__synopsis {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.movie__data {
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

.movie-seances {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.movie-seances__hall {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.movie-seances__list {
  display: flex;
  gap: 5px;
  margin-top: 7px;
}

.movie-seances__time {
  background-color: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.12), 0px 2px 2px 0px rgba(0,0,0,0.24);
  border-radius: 2px;
  width: 53px;
  height: 33px;
  font-size: 15px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.movie-seances__time_disabled {
  background-color: #e2e2e2;
  color: #989898;
  cursor: default;
}

/*--------------------------------- HALL VIEW PAGE -----------------------------------*/

.hall_view {
  padding: 0;
  width: 100%;
  background-color: rgba(241, 235, 230, 0.95);
  border-radius: 2px;
}

/*--------------------------------- ADMIN LOGIN -----------------------------------*/

.admin-container {
  background-image: url(../images/background_admin.jpeg);
  position: relative;
  z-index: 0;
}

.header__admin {
  width: 972px;
  height: 120px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header__admin::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

.header__sub {
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 5px;
  color: #fff;
  text-transform: uppercase;
}

.admin__autorize {
  width: 480px;
  margin: 0 auto;
  background-color: rgba(234, 233, 235, 0.95);
}

.admin__autorize-header {
  background-color: #63536C;
  text-transform: uppercase;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 25px;
  padding: 16px 0;
  text-align: center;
}

.admin__login-form {
  width: 272px;
  margin: 0 auto;
  padding: 35px 0;
  text-align: center;
}

.form-title {
  display: block;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  color: #848484;
}

.login-field {
  width: 272px;
  height: 36px;
  display: block;
  border-radius: 1px;
  border: 1px solid #B7B7B7;
  font-size: 16px;
  font-weight: 400;
  padding: 0 7px;
}

.login-field.email {
  margin-bottom: 5px;
}

.login-field.password {
  margin-bottom: 20px;
}